html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  max-width: 500px;
}
h1 {
  text-align: center;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}

.home-items {
  display: flex;
}
.home-div {
  width: 200px;
  height: 200px;
  background-color: #027368;
  text-align: center;
  margin: 5px;
  color: aliceblue;
}
.active-link {
  padding: 5px;
  background-color: #04bfad;
  color: white;
}

.pending-list {
  padding: 5px;
  background-color: #01403a;
  color: white;
}
